html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: #000;
  display: grid;
  place-items: center;
}

.app_video {
  position: relative;
  height: 80vh;
  width: 80%;
  max-width: 1000px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
/* chrome scrollbar hider  */
.app_video::-webkit-scrollbar {
  display: none;
}

/* Edge and Firefox scrollbar hider */
.app_video {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
